.projects button {
    padding: 1rem 2rem;
    border: 1px solid rgb(40, 40, 40);
    background: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
    border-radius: 25px;
    transition: background 0.3s ease, border 0.3s ease;
  }
  
  .projects button:hover {
    cursor: pointer;
    border: 1px solid rgb(92, 121, 184);
    background: rgb(47, 54, 68);
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  
  .projects h3 {
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  
  .projects p {
    color: #aaa;
    margin-top: 0.5rem;
  }
  
  .projects img {
    border-radius: 10px;
  }
  
  .DevLinks,
  .CatalogoHoteis,
  .MoviePB,
  .CadastroLogin,
  .AgendaSemanal, 
  .PortalNB {
    display: flex;
    gap: 2rem;
  }
  
  .DevLinks button,
  .CatalogoHoteis button,
  .MoviePB button,
  .CadastroLogin button,
  .AgendaSemanal button,
  .PortalNB button {
    margin-top: 2rem;
  }

  .title-project {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
  }
  
  .title-project h2 {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  

  @media (max-width: 480px) {
    .projects button {
      font-size: 1.2rem;
    }
  
    .title-project h2 {
      font-size: 3rem;
    }
  
    .projects {
      width: 80%;
      margin-right: 1rem;
      margin-top: 5rem;
    }
  
    .projects h3 {
      font-size: 2rem;
    }
  
    .projects p {
      font-size: 1.4rem;
    }
  
    .projects img {
        width: 100%; /* Imagem ocupa 100% da largura do container */
        height: auto; /* Altura automática para manter a proporção */
        max-width: 24rem;
    }
  
    .DevLinks,
    .CatalogoHoteis,
    .MoviePB,
    .CadastroLogin,
    .AgendaSemanal,
    .PortalNB {
      flex-direction: column;
      width: 80%;
    }
  
  }

  @media (min-width: 481px) and (max-width: 1199px) {
    .projects button {
      font-size: 1.2rem;
    }

    .title-project {
        display: flex;
        justify-content: center;
    } 
  
    .title-project h2 {
      font-size: 3rem;
      width: 90%;
    }
  
    .projects {
      width: 90%;
    }
  
    .projects h3 {
      font-size: 2.5rem;
    }
  
    .projects p {
      font-size: 1.2rem;
    }
  
    .projects img {
      width: 30rem;
      height: 15rem;
    }
  
    .DevLinks,
    .CatalogoHoteis,
    .MoviePB,
    .CadastroLogin,
    .AgendaSemanal,
    .PortalNB {
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
  
    .DevLinks button,
    .AgendaSemanal button {
      margin-top: 4rem;
    }
  
    .CatalogoHoteis button,
    .MoviePB button,
    .CadastroLogin button {
      margin-top: 6rem;
    }
  }
  
  
  @media (min-width: 1200px) {
    .projects button {
      font-size: 1.5rem;
    }
  
    .title-project h2 {
      font-size: 3.5rem;
    }
  
    .projects {
      width: 90rem;
    }
  
    .projects h3 {
      font-size: 3rem;
    }
  
    .projects p {
      font-size: 1.5rem;
    }
  
    .projects img {
      width: 44rem;
      height: 22rem;
    }
  
    .DevLinks button,
    .AgendaSemanal button {
      margin-top: 6rem;
    }
  
    .CatalogoHoteis button,
    .MoviePB button,
    .CadastroLogin button {
      margin-top: 8rem;
    }
  }