@media (max-width: 480px) {
    .container-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
    }
    
    .container-profile img {
        border: 1px solid rgb(220, 220, 220);
        width: 12rem;
        border-radius: 50%;
    }
    
    .container-profile h1 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: rgb(220, 220, 220);
    }
    
    .container-profile p {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: rgb(92, 121, 184);
    }
    
    .container-profile menu, ol {
        display: flex;
        gap: 1.5rem;
    }
    
    .container-profile button {
        padding: 1rem 2rem 1rem 2rem;
        border: 1px solid rgb(40, 40, 40);
        background:rgb(40, 40, 40);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    
    .container-profile button:hover {
        cursor: pointer;
        background: rgb(92, 121, 184);
        border: 1px solid rgb(92, 121, 184);
        background:  rgb(37, 42, 53);
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .container-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
    }
    
    .container-profile img {
        border: 1px solid rgb(220, 220, 220);
        width: 13rem;
        border-radius: 50%;
    }
    
    .container-profile h1 {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgb(220, 220, 220);
    }
    
    .container-profile p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: rgb(92, 121, 184);
    }
    
    .container-profile menu, ol {
        display: flex;
        gap: 1.5rem;
    }
    
    .container-profile button {
        padding: 1rem 2rem 1rem 2rem;
        border: 1px solid rgb(40, 40, 40);
        background:rgb(40, 40, 40);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }
    
    .container-profile button:hover {
        cursor: pointer;
        background: rgb(92, 121, 184);
        border: 1px solid rgb(92, 121, 184);
        background:  rgb(37, 42, 53);
    }
}

@media (min-width: 1201px) {

    .container-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30vh;
    }
    
    .container-profile img {
        border: 1px solid rgb(220, 220, 220);
        width: 15rem;
        border-radius: 50%;
    }
    
    .container-profile h1 {
        font-size: 2.3rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgb(220, 220, 220);
    }
    
    .container-profile p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        color: rgb(92, 121, 184);
    }
    
    .container-profile menu, ol {
        display: flex;
        gap: 1.5rem;
    }
    
    .container-profile button {
        padding: 1rem 2rem 1rem 2rem;
        border: 1px solid rgb(40, 40, 40);
        background:rgb(40, 40, 40);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        transition: background 0.3s ease, border 0.3s ease;
    }
    
    .container-profile button:hover {
        cursor: pointer;
        border: 1px solid rgb(92, 121, 184);
        background: rgb(47, 54, 68);
    }
}