.Footer-component {
    background: rgb(18, 18, 18);
    display: flex;
    width: 100%; 
    padding: 2rem;
    justify-content: center;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    overflow-x: hidden; 
    gap: 0.6rem;
    box-sizing: border-box; 
  }
  
  .Footer-component span {
    font-size: 1.2rem;
    margin-top: 0.1rem;
    color: #aaa;
  }
  
  .p-footer {
    font-size: 1.2rem;
    color: #aaa;
  }